<div class="login-form-container">
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <mat-label for="login">Identifiant</mat-label>
        <input matInput id="login" type="text" formControlName="login" />
      </mat-form-field>
      <crm-help
        [field]="loginForm.controls.login"
        [errorMessages]="{
          required: 'Entrez votre login',
          minlength: 'Le login doit avoir un minimum de 3 caractères.'
        }"
      >
      </crm-help>
    </p>
    <p>
      <mat-form-field>
        <mat-label for="password">Mot de passe</mat-label>
        <input
          matInput
          id="password"
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <crm-help
        [field]="loginForm.controls.password"
        [errorMessages]="{
          required: 'Entrez votre mot de passe',
          checkPassword: 'Le composant doit faire plus de 5 caractères'
        }"
      >
      </crm-help>
    </p>
    <p>
      <button
        mat-button
        type="submit"
        [disabled]="loginForm.invalid"
        color="primary"
      >
        Validate
      </button>
    </p>
  </form>
</div>
